/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #062d3f;
    background-alt: #373B41;
    foreground:     #ebb9b8;
    selected:       #ebb9b8;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
