* {
    border: none;
    border-radius: 0;
    font-family: "FiraMono Nerd Font", monospace;
    font-size: 12px;
    margin-right: 5px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.7);
    color: #d3c6aa;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;

    color: #928374;
}

#workspaces button:hover {
    background: #504945;
    color: #fbf1c7;
}

#workspaces button.focused {
    font-weight: bold;
    color: #ebdbb2;
}

#workspaces button.urgent {
    background-color: #cc241d;
    color: #FFFFFF;
}

#mode {
    background-color: #fe8019;
    color: #2e3440;
    padding: 0 10px;
    font-weight: bold;
}

#clock {
    color: #8ec07c;
    padding: 2 10px;
    border-bottom: 2px solid #8ec07c;
}

#battery {
    background-color: transparent;
    border-bottom: 2px solid #458588;
    color: #458588;
    padding: 0 10px;
}

#cpu {
    color: #5E81AC;
    padding: 0 10px;
}

#memory {
    color: #83a598;
    padding: 0 10px;
}

#network {
    color: #B48EAD;
    padding: 0 10px;
}

#network.disconnected {
    color: #fb4934;
}

#wireplumber {
    color: #d65d0e;
    background-color: transparent;
    border-bottom: 2px solid #d65d0e;
    padding: 0 10px;
}

#wireplumber.muted {
    color: #cc241d;
    border-bottom: 2px solid #cc241d;
}

#tray {
    padding: 0 10px;
    border-bottom: 2px solid #d79921;
}

#tray > .passive {
    opacity: 0.6;
}

#tray > .needs-attention {
    opacity: 1.0;
    background-color: #fb4934;
}

#window {
    color: #d699b6;
    border-bottom: 2px solid #d699b6;
}

#backlight {
    color: #fabd2f;
    border-bottom: 2px solid #fabd2f;
}

#mpris {
    color: #98971a;
    border-bottom: 2px solid #98971a;
}

tooltip {
    background: #3b4252;
    border: 1px solid #3b4252;
    border-radius: 5px;
    color: #d8dee9;
}

tooltip label {
    color: #d8dee9;
}

#custom-notification {
    color: #A3BE8C;
    padding: 0 10px;
}

#custom-notification.notification {
    color: #b48ead;
}

#custom-notification.dnd {
    color: #928374;
}

#custom-notification.dnd-notification {
    color: #fb4934;
}

#wlr-taskbar button {
   padding: 0 5px;
   margin: 0 3px;
}


#wlr-taskbar button.active {
    border-bottom: 2px solid #A3BE8C;
    background-color: #495366;
}

#tags button {
    padding: 0 4px;
    color: #83c092;
    border: none;
    font-family: "FiraMono Nerd Font", monospace;
    font-size: 12px;
    margin-right: 5px;
    border-bottom: 2px solid rgba(45, 53, 59, 0.1);
}

#tags button.occupied {
    font-weight: bold;
    border-bottom: 2px solid #dbbc7f;
    color: #dbbc7f;
}

#tags button.focused {
    border-bottom: 2px solid #A3BE8C;
}

