* {
    border: none;
    border-radius: 0;
    font-family: "FiraMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.7);
    color: #d3c6aa
}

#custom-updates {
  color: #ebdbb2;
  background-color: #282828; /* Red background when updates are available */
}

#custom-updates.pending-updates {
  background-color: #ff0000;
}
