* {
    border: none;
    border-radius: 0;
    font-family: "FiraMono Nerd Font", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(45, 53, 59, 0.7);
    color: #d3c6aa
}

